.placeholder-color {
    color: #a0aec0
}

.screen-page {
    width: 25rem
}

.full-rounded {
    border-radius: 50%;
}

.foc:hover {
   
    border: 1px solid #ccc;
    cursor:pointer;
    
    /* Define un borde sólido de 2px de grosor y color gris claro */
}

.gradient-color{
    background-color: linear-gradient(45deg, #EC4899, #9F7AEA);
}